.btn-app {
  background: #f75b37;
  color: #ffffff; }
  .btn-app:hover {
    color: #ffffff;
    background: #e65432; }
  .btn-app:focus {
    color: #ffffff;
    background: #e65432; }
  .btn-app.login {
    padding: .5rem 3rem; }
.btn-app-green {
  background: #00FF00;
  color: #ffffff;
}
.btn-app-regis {
  background: #f75b37;
  color: #ffffff; }
  .btn-app-regis:hover {
  color: #ffffff; }

  .btn-app-regis-rety {
  background: #f75b37;
  color: #ffffff; }
  .btn-app-regis-rety:hover {
  color: #ffffff; }
.btn-app-green:hover {
  color: #ffffff;
}
.btn-app-ongoing {
  background: #808080;
  color: #ffffff; }
  .btn-app-ongoing:hover {
  color: #ffffff; }

.btn-app-lost {
  background: #FF0000;
  color: #ffffff; }
  .btn-app-lost:hover {
  color: #ffffff; }
